<h1>There is the article you search</h1>

<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" }%>